<p>Productos en el carrito: {{ shoppingCart.length }}</p>
<p>Total: ${{ total }}</p>
<button (click)="createNewProduct()">Create</button>

<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddedProduct($event)"
    (showProductDetail)="onShowProductDetail($event)"
  ></app-product>
</div>

<aside
  *ngIf="productChosen"
  class="product-detail"
  [class.active]="showProductDetail"
>
  <img
    (click)="toggleProductDetail()"
    src="./assets/images/icon_close.png"
    alt="Close icon"
  />

  <swiper
    [slidesPerView]="1"
  >
    <ng-template
      *ngFor="let image of productChosen.images"
      swiperSlide
    >
      <img
        class="product-image"
        [src]="image"
        [alt]="productChosen.title"
      />
    </ng-template>
  </swiper>

  <!-- <img
    [src]="productChosen.images[0]"
    [alt]="productChosen.title"
    class="product-image"
  /> -->

  <div class="product-info">
    <p>$ {{ productChosen.price }}</p>
    <p>{{ productChosen.title }}</p>
    <p>{{ productChosen.description }}</p>
  </div>

  <div class="add-to-cart">
    <button
      class="secondary-button"
      (click)="updateProduct()"
    >
      Editar
    </button>

    <button class="primary-button">
      <img
        src="./assets/svg/bt_add_to_cart.svg"
        alt="Add to shopping cart icon"
      />
      <span>
        Add to cart
      </span>
    </button>
  </div>

</aside>
