<div class="product-card">
  <app-img
    *ngIf="product.images.length > 0"
    [img]="product.images[0]"
    class="product-img"
  ></app-img>

  <div class="product-info">
    <div>
      <p>{{ product.price | currency }}</p>
      <p>{{ product.title }}</p>
      <p>Valor IVA: {{ product.taxes | currency }}</p>
    </div>

    <button class="add-to-cart-btn" (click)="addToCart()">
      <img
        src="./assets/svg/bt_add_to_cart.svg"
        alt="Add to cart icon"
      />
    </button>
  </div>

  <button (click)="onShowDetail()" class="show-detail-btn">
    Ver detalle
  </button>
</div>
