<app-nav></app-nav>

<!-- <button (click)="createUser()">Crear Usuario</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Obtener perfil</button>
<button (click)="downloadPDF()">Descargar PDF</button>
<input type="file" (change)="onUpload($event)">
<img
  *ngIf="imgUploaded"
  [src]="imgUploaded"
  alt="Imagen subida"
/> -->

<router-outlet></router-outlet>

<!-- <app-products></app-products> -->

<!-- <p>
  <input type="text" [(ngModel)]="imgUrl">
</p>

<button (click)="toogleImage()">Toggle Image</button>
<p>{{ showImage }}</p> -->
