// RESET
@use './assets/styles/reset.scss';

// GLOBALS
* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.products--grid {
  app-img img {
    border-radius: 12px;
  }
}
